body {
    background-color: cornsilk; 
    color:blue; 
    max-width: 900px;
    margin:auto;
}

header {
    margin: 35px 0;
    font-size: 20px;
}

 section.jumbotron {
    text-align: center;
    background-image: url("https: //picsum .photos/ 900px / 600px;"); 

 a {color:darkblue
}
